<script>
  var students = <%=
    @students.to_json(include: {
      expertise_area: {},
      place: {},
      internship: {include: [:organisation, :place]},
      current_work_place: {include: [:organisation, :place]}
    }).html_safe
  %>;
</script>

<div class="options">
  <div class="form-group">
    Show alumni with
    <select id="expertise">
      <option value="all">Any area of expertise</option>
      <%= options_for_select @expertise_areas %>
    </select>

    and plot locations by
    <select id="plot-by">
      <option value="Current">Current workplace location</option>
      <option value="Internship">Internship location</option>
      <option value="Native">Native</option>
    </select>

  </div>
</div>

<div id="map"></div>
