<h1>
  Engagement types
  <%= link_to 'Add engagement type', new_engagement_type_path, class: "btn btn-success pull-right" %>
</h1>
<hr/>

<% @engagement_types.each do |engagement_type| %>
  <div class="well well-sm">
    <h3><%= engagement_type.name %></h3>

    <%= link_to(
      "<span class='glyphicon glyphicon-edit'></span> Edit".html_safe,
      edit_engagement_type_path(engagement_type), class: "btn btn-primary btn-sm"
    ) %>

    <%= link_to(
      "<span class='glyphicon glyphicon-remove-circle'></span> Delete".html_safe,
      engagement_type,
      method: :delete,
      class: "btn btn-danger btn-sm",
      data: { confirm: 'Are you sure?' }
    ) %>
  </div>
<% end %>
