<h1>Engagement types</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @engagement_types.each do |engagement_type| %>
        <tr>
          <td><%= engagement_type.name %></td>
          <td><%= link_to 'Edit', edit_engagement_type_path(engagement_type), class: "btn btn-primary btn" %></td>
          <td><%= link_to('Destroy', engagement_type,
                method: :delete,
                class: "btn btn-danger btn",
                data: { confirm: 'Are you sure?' }) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Add engagement type', new_engagement_type_path, class: "btn btn-success btn" %>
