<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @expertise_area.name %>
</p>

<%= link_to 'Edit', edit_expertise_area_path(@expertise_area) %> |
<%= link_to 'Back', expertise_areas_path %>
