<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @student.place.try(:name_with_country) %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
