//= require_self
//= require bootstrap
//= require bootstrap-theme
//= require leaflet
//= require leaflet.label
//= require typeahead-bootstrap
//= require_tree .
 

.panel h3, .well-sm h3 {
  margin-top: 0px;
}

#map { height: 100%; }

.marker-popup {
  .leaflet-popup-content-wrapper {
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
     padding-top: 1em;

    .student {
      padding-bottom: 1em;

      .student-name {
        font-size: 1.2em;
        font-weight: bold;
      }

      .expertise-area, .project-title {
        color: #666;
      }
    }

    .popup-field {
      margin-top: 1em;
      color: #999;
      text-transform: uppercase;
    }

    .popup-field-value {
      color: #666;
      text-transform: none;
    }
  }
}

.map-options {
  position: absolute;
  top: 1em;
  left: 3.5em;
  z-index: 5;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5em;
  width: 46em;

  .appname {
    font-size: 1.2em;
    border-bottom: 1px solid #CCC;
    margin-bottom: 0.5em;
  }

  .selected-plot {
    a { color: red !important; }
  }

  .option {
    width: 33.33%;
    float: left;
    font-size: 0.9em;
    padding: 0.3em;

    a {
      width: 33%;
      color: #333;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.search-wrapper {
  width: 100%;
  float: left;
  clear: both;
  padding-left: 1em;
  padding-right: 1em;

  #search {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 0.25em 1.75em 0.25em 0.25em;
    margin-bottom: 1em;
  }

  .clear-search {
    cursor: pointer;
    position: absolute;
    top: 1.25em;
    right: 1.75em;
  }
}


.nav-list {
  position: absolute;
  width: 20em;
  top: 1em;
  bottom: 1em;
  right: 10em;
  background: rgba(133, 158, 235, 0.7);
  z-index: 10;
  border-radius: 3px;
  padding-top: 1em;
  padding-bottom: 1em;

  .items {
    position: absolute;
    width: 100%;
    top: 3.5em;
    bottom: 1em;
    float: left;
    overflow-y: scroll;
    padding-left: 1em;
    padding-right: 1em;
  }

  .item {
    color: #FFF;
    font-family: "PT Sans", Helvetica, Verdana, Arial, sans-serif;
    padding: 0.25em;

    span {
     cursor: pointer;
    }

    img {
      height: 0.6em;
      margin-left: 0.5em;
    }

    .students {
      display: none;
      padding-left: 1em;

      .student {
        width: 100%;
        color: #999;

        a {
          color: #999;
          text-decoration: none;
          &:hover { text-decoration: underline; }
        }
      }
    }
  }

  .selected-item {
    background: #333;

    .students {
      display: block;
      border-top: 1px solid #666;
      padding-top: 0.5em;
    }
  }
}

.leaflet-popup-content {
  max-height: 10em;
  overflow-y: scroll;
}